//font-family
$font-family: "Museo Sans",
"Segoe UI",
"Roboto",
Helvetica,
Arial,
sans-serif;

// Font weight
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 600;
$extra-bold: 700;

/* Font size */
$page-header-font: toEm(30);

/* Colors */
$teal: #00A19C;
$teal-light: #009E8E;
$grey: #29323B;
$dark-grey: #27323C;
$light-grey: #9F9EAE;
$black: #000;
$white: #fff;
$error: #FF5247;
$turquoise: #17b495;
$wetasphalt: #2e4357;
$concrete-grey: #8e9e9f;
$cloud-grey: #e4e8e9;
$greensea: #13987e;
$belizehole: #2579b1;
$asbestos: #788586;
$midnight-blue: #273849;
$peterriver: #2f91d3;
