@import "../../styles/variable.scss";

.nav-horizontal {
  background-color: $peterriver;
  color: $white;
  font-size: large;

  .nav-horizontal-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 25px;
  }
}